<main>
  <h1 class="text-center pt-5 pb-3">Tienda de productos informaticos</h1>
  <img
    width="100%"
    src="https://www.infinit.com.uy/imgs/presentaciones/presentaciones0_6982.jpg?1698897136"
  />

  <section>
    <article
      class="d-flex flex-wrap justify-content-center"
      id="products"
    ></article>
  </section>

</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>